html, body {
	height: 100%;
	margin: 0;
}

.top {
	background-color: #444444;
	height: 20%;
	width: 100%;
}

.center {
	background-color: white;
	height: 80%;
	float: left;
	width: 80%;
}
.bottom {
	background-color: #444444;
	height: 10%;
	width: 100%;
}

.spacing {
	height: 90%;
}

.left{
	background-color: #D8D8D8;
	height: 80%;
	float: left;
	width: 10%;
}

.right{
	background-color: #D8D8D8;
	height: 80%;
	width: 10%;
	float: left;
}

